<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs Bluetooth access to communicate with ESP32 devices.</string>
	
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs Bluetooth access to communicate with ESP32 devices.</string>
	
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs location access to send GPS coordinates to your ESP32 device.</string>
	
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs location access to send GPS coordinates to your ESP32 device.</string>
	
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
	</array>
	
	<key>CFBundleDisplayName</key>
	<string>ESP32 BLE</string>
</dict>
</plist>